{
  "log": {
    "_recordingName": "github-operation-close",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4cb5a0a603abadf0018645b23e9f69a7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"state\":\"closed\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/37"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3388,
            "text": "{\"url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/37\",\"repository_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises\",\"labels_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/37/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/37/comments\",\"events_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/37/events\",\"html_url\":\"https://github.com/YusukeNonoyama/js-exercises/issues/37\",\"id\":3833502528,\"node_id\":\"I_kwDOOHqwis7kfptA\",\"number\":37,\"title\":\"Issue B\",\"user\":{\"login\":\"YusukeNonoyama\",\"id\":165622320,\"node_id\":\"U_kgDOCd8yMA\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/165622320?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/YusukeNonoyama\",\"html_url\":\"https://github.com/YusukeNonoyama\",\"followers_url\":\"https://api.github.com/users/YusukeNonoyama/followers\",\"following_url\":\"https://api.github.com/users/YusukeNonoyama/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/YusukeNonoyama/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/YusukeNonoyama/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/YusukeNonoyama/subscriptions\",\"organizations_url\":\"https://api.github.com/users/YusukeNonoyama/orgs\",\"repos_url\":\"https://api.github.com/users/YusukeNonoyama/repos\",\"events_url\":\"https://api.github.com/users/YusukeNonoyama/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/YusukeNonoyama/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"closed\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-01-20T12:23:32Z\",\"updated_at\":\"2026-01-20T12:47:19Z\",\"closed_at\":\"2026-01-20T12:47:19Z\",\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":null,\"closed_by\":{\"login\":\"YusukeNonoyama\",\"id\":165622320,\"node_id\":\"U_kgDOCd8yMA\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/165622320?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/YusukeNonoyama\",\"html_url\":\"https://github.com/YusukeNonoyama\",\"followers_url\":\"https://api.github.com/users/YusukeNonoyama/followers\",\"following_url\":\"https://api.github.com/users/YusukeNonoyama/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/YusukeNonoyama/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/YusukeNonoyama/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/YusukeNonoyama/subscriptions\",\"organizations_url\":\"https://api.github.com/users/YusukeNonoyama/orgs\",\"repos_url\":\"https://api.github.com/users/YusukeNonoyama/repos\",\"events_url\":\"https://api.github.com/users/YusukeNonoyama/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/YusukeNonoyama/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"reactions\":{\"url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/37/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/37/timeline\",\"performed_via_github_app\":null,\"state_reason\":\"completed\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"b78b3ccb7a836906247527ccea1d3628fb79e3341080c23841627b434d176cea\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-accepted-github-permissions",
              "value": "issues=write; pull_requests=write"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4998"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1768918906"
            },
            {
              "name": "x-ratelimit-used",
              "value": "2"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 649,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
