{
  "log": {
    "_recordingName": "github-operation-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8f3aeef15d4bdc3748a0172b32e99a9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            }
          ],
          "method": "GET",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "null"
          },
          "queryString": [
            {
              "name": "state",
              "value": "open"
            }
          ],
          "url": "https://api.github.com/repos/YusukeNonoyama/js-exercises/issues?state=open"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4779,
            "text": "[{\"url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/39\",\"repository_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises\",\"labels_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/39/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/39/comments\",\"events_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/39/events\",\"html_url\":\"https://github.com/YusukeNonoyama/js-exercises/issues/39\",\"id\":3833623292,\"node_id\":\"I_kwDOOHqwis7kgHL8\",\"number\":39,\"title\":\"Issue C\",\"user\":{\"login\":\"YusukeNonoyama\",\"id\":165622320,\"node_id\":\"U_kgDOCd8yMA\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/165622320?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/YusukeNonoyama\",\"html_url\":\"https://github.com/YusukeNonoyama\",\"followers_url\":\"https://api.github.com/users/YusukeNonoyama/followers\",\"following_url\":\"https://api.github.com/users/YusukeNonoyama/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/YusukeNonoyama/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/YusukeNonoyama/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/YusukeNonoyama/subscriptions\",\"organizations_url\":\"https://api.github.com/users/YusukeNonoyama/orgs\",\"repos_url\":\"https://api.github.com/users/YusukeNonoyama/repos\",\"events_url\":\"https://api.github.com/users/YusukeNonoyama/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/YusukeNonoyama/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-01-20T12:55:35Z\",\"updated_at\":\"2026-01-20T12:55:35Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":null,\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/39/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/39/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"pinned_comment\":null},{\"url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/36\",\"repository_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises\",\"labels_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/36/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/36/comments\",\"events_url\":\"https://api.github.com/repos/YusukeNonoyama/js-exercises/issues/36/events\",\"html_url\":\"https://github.com/YusukeNono[...]
