body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}
input#image {
  margin-bottom: 20px;
}
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
canvas {
  border: 1px solid #ccc;
}
p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}
#clock {
  font-size: 98px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#sub {
  font-size: 48px;
}
#sub {
  font-size: 48px;
}
